@media screen and (max-width: 720px) {
     /* Menu do index.php */
    .menu i{
        display: none;
    }
    .menu ul{
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    /* Seção do banner: index.php */
    .banner-text h1{
        font-size: 4rem;
        letter-spacing: 10px;
    }

    /* Seção de sobre: index.php */
    .sobre{
        flex-direction: column;
        height: 100%;
        gap: 40px;
    }

    .sobre .left h2{
        font-size: xx-large;
        text-align: center;
    }

    .sobre .right img{
        width: 200px;
    }

    /* Seção de países: index.php */
    .container-carrossel {
        gap: 20px;
    }

    .carrossel{
        justify-content: center;
        width: calc(250px * 1 + 40px * 2);
    }

    /* Seção de cidades: index.php */
    .container-carrossel-cidades{
        width: 100% !important;
        justify-content: center;
    }

    .carrossel-cidades{
        justify-content: left;
        padding: 0px;
        width: 200px;
    }

    .cidades{
        flex-direction: column;
        padding: 0px;
        gap: 0;
    }

    .cidades .card{
        width: 200px !important;
    }

    .cidades .textos{
        padding: 40px;
    }

    .cidades .textos p{
        text-align: center;
        text-indent: 0px;
    }

    /* Tela de crud: crud.php */
    .container-crud{
        padding: 20px;
    }

    .table-container{
        width: 100%;
    }

    .content-crud .titulo{
        width: 100%;
        justify-content: space-between;
    }

    .dados{
        width: 100%;
        justify-content: space-between;
    }

    /* Adiciona país */
    .content{
        padding: 20px;
    }
    .globe-form{
        width: 420px;
        height: 420px;
    }

    /* Tela individual de países: pais.php */
    .pais-content {
        height: 100%;
    }

    .pais{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    
    .pais .textos,
    .pais-info .textos,
    .pais-weather .textos {
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 0px;
    }

    .pais-info .textos .infos {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .pais-info .textos .infos .info {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .pais-weather{
        position: relative;
        height: auto;
        width: 100%;
        border: none;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pais-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-bottom: var(--white) 1.5px solid;
        gap: 0px;
    }

    .pais-weather .menu{
        position: relative;
        height: auto;
        width: 100%;
        background-color: var(--dark-blue);
    }

    /* Adiciona e altera país/cidade */

    .content{
        height: 100%;
    }

    .globe-form{
        width: 350px;
        height: 350px;
    }

    .form legend{
        text-align: center;
    }
}