@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --white-shadow:#ffffff7b;
    --white: #fff;
    --dark-blue: #0E242F;
    --dark-text: #191c1e;
    --dark-blue-shadow: #0c2a3b8d;
    --light-blue: #6b8ea3;
    --blue: #2f3082;

    --transition: .5s all ease-in-out;
}

.menu{
    position: fixed;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 2;
}

.menu span{
    color: var(--white-shadow);
    font-size: 2rem;
    margin-right: auto;
    cursor: pointer;
    transition: var(--transition);
}

.menu span:hover{
    scale: 1.1;
    color: var(--white);
}

.menu ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
}

.menu ul li a{
    text-decoration: none;
    color: var(--white-shadow);
    font-family: "Inter", sans-serif;
    transition: var(--transition);
}

.menu ul li a:hover{
    font-size: large;
    color: var(--white);
}

.banner{
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
    background-color: var(--dark-blue);
}

.estrelas{
    background-image: url(../assets/images/stars.gif);  
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
    opacity: 0.2;
}

.banner-text{
    color: var(--white);
    position: absolute;
    top: -20%;
    z-index: 0;
}

.banner-text h1{
    letter-spacing: 25px;
    text-shadow: 0px 0px 20px var(--white-shadow);
    font-size: 12rem;
}


.banner-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transform: translateY(10%);
}

/* Globo que se move */
.globe{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-image: url("https://wallpapers.com/images/hd/satellite-world-map-99d6y5gsakbb8wh9.jpg");
    background-size: cover;
    box-shadow: -15px -15px 20px var(--dark-blue-shadow) inset, 10px 10px 25px var(--white-shadow) inset, 0px 0px 10px var(--dark-blue);
    animation: rotate 10s linear infinite;
    behavior: smooth;
    z-index: 1;
}

@keyframes rotate {
    to{
        background-position: 100%;
    }
}

.globe:hover{
    animation-play-state: paused;
}

/* span */
.banner span{
    color: var(--white);
    font-family: "Inter", sans-serif;
    margin-top: 20px;
    font-style: italic;
    text-align: center;
}

/* ondas para transição de tela */

.onda {
  position: absolute;
  background-image: url(../assets/images/onda.png);
  background-repeat: repeat-x;
  width: 100%;
  height: 129px;
  background-size: auto 129px;
  transform: scaleY(-1);
  animation: onda 15s linear infinite;
  background-color: var(--light-blue);
}

@keyframes onda {
  from { background-position: 0 0; }
  to   { background-position: 1280px 0; } 
}



/* sobre */
.sobre{
    height: 100vh;
    padding: 20px;
    margin-top: 40px;
    display: flex;
    background-color: var(--light-blue);
}

.sobre .left, .sobre .right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sobre .left h2{
    text-align: center;
    font-size: 2.5rem;
    padding: 10px;
    color: var(--white);
    text-shadow: 0px 0px 10px var(--white-shadow);
}

.sobre .left p{
    text-align: center;
    font-family: "Inter", sans-serif;
    color: var(--dark-text);
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.5;
    width: 90%;
    text-indent: 20px;
}

/* Slides */

.container-slide{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-images{
    width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slider{
    position: absolute;
    width: 100%;
    opacity: 0;
    border-radius: 20px;
    box-shadow: 0px 0px 10px var(--dark-blue-shadow);
}

.slider.active{
    opacity: 1;
    transition: var(--transition);
}

#prev-button, #next-button{ 
    background-color: transparent;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: var(--transition);
}
#prev-button i, #next-button i{
    font-size: x-large;
    color: var(--dark-blue);
}

#prev-button:hover, #next-button:hover{
    transform:scale(1.1);
}

.globe-small{
    width: 150px;
    z-index: 1  ;
    position: absolute;
    margin-bottom: -320px;
    margin-left: -500px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px var(--dark-blue-shadow);
}